.mis-sesiones-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap:1rem;
    margin-top: 2rem;
}

.mis-sesiones-container h1{
    letter-spacing: 0.04em;
}

.mis-sesiones-container table{
    padding-left: 2rem;
    padding-right: 2rem;
    width: 80%;
    margin-top: 2rem;
    border-spacing: 0 12px;
    table-layout: fixed;
}

.mis-sesiones-container table th{
    text-align: center;
}

.mis-sesiones-nueva{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

@media(max-width: 750px){
    .mis-sesiones-container table{
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        width: 100%;
        margin-top: 2rem;
        border-spacing: 0 12px;
        table-layout: fixed;
    }

}