.table-row{
  background: var(--borderColor);
  border: 2px solid black;
}

.table-row td{
    padding-top: 16px;
    padding-bottom: 16px;
    vertical-align: middle;
    text-align: left;

}

.tr-profesional{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.tr-profesional img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.tr-fecha{
    display: flex;
    flex-direction: column;
    justify-self: center;
    
}

.tr-fecha p{
    color:var(--textoColor);
}

.tr-accion{
    display: flex;
    justify-content: center;
}

.tr-accion button{
    background-color: var(--textoColor);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-weight: 600;
}
.tr-accion button:active{
    transform: none;
}

@media(max-width: 750px){
    .tr-profesional{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
    }
    .tr-profesional img{
        display: none;
    }
}